extends ../template

block variables
    - var title = 'Главная'
    - var contactForm = true

block content
    main
        h1 sborkaOtVasyana

        button(data-tab-id="tabId1", data-tab-control="tab1") 1
        button(data-tab-id="tabId1", data-tab-control="tab2") 2
        .tab-block(data-tab-id="tabId1", data-tab-block="tab1") 1
        .tab-block(data-tab-id="tabId1", data-tab-block="tab2") 2